.container {
    width: 80%;
    height: 400px;
    padding: 12px 20px;
    margin: 100px 8.5%;
    box-shadow: border-box;
    border: 2px solid blue;
    background-color: whitesmoke;
    color: black;
    border-radius: 10px;
}

.card {
    width: 300px;
    height: 240px;
    background-color: aliceblue;
    position: relative;
    border: 2px solid black;
    border-radius: 20px;
    top: 70px;
    margin-right: 70px;
}

.car {
    width: 300px;
    height: 240px;
    background-color: aliceblue;
    position: relative;
    border: 2px solid black;
    border-radius: 20px;
    float: left;
    margin-left: 750px;
    bottom: 185px;

}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

h2 {
    list-style-type: none;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    top: 20px;
}

p {
    text-align: center;
}

img {
      display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    position: absolute;
    box-shadow: 7px 7px 15px rgba(2,28,53,0.08);
}

input[type="radio"]::before {
    content: "";
    position: absolute;
    height: 22px;
    width: 22px;
    background-color: #f9fafd;
    border: 1px solid #e2e6f3;
    border-radius: 50%;
    top: 35px;
    right: 20px;
}

input[type="radio"]::after{
    content: "";
    position: absolute;
    height: 13px;
    width: 13px;
    background-color: transparent;
    border-radius: 50%;
    top: 39.5px;
    right: 24.5px;
}

label{
    position: absolute;
    margin: 20px;
    cursor: pointer;
}

span{
    font-weight: 400;
    font-size: 18px;
    color: #7b7b93;
}

input[type="radio"]:hover{
    transform: scale(1.05);
}

input[type="radio"]:checked{
    border: 2px solid #478bfb;
}

input[type="radio"]:checked::after{
    background-color: #478bfb;
}